<h1>Admin::Dashboard#show</h1>

<table class="table table-bordered">
<thead>
  <tr>
    <th>Number of Products: </th>
    <th><%= @product_count %> </th>
  </tr>
  <tr>
    <th>Number of Categories:</th>
    <th><%= @category_count %></th>
  </tr>
</thead>
<tbody>

</tbody>
</table>
