<section class="about-show">

<p>Hello, this is our fifth company. Our main company is called Jumbo Jimbo. It is family run so everything is made by us.</p>
<h3>Contact Us</h3>
<p>Email: Some_Company@hotmail.com</p>
<p>Phone Number: 123-456-789</p>

</section>